.rce-citem-body--bottom {
  margin: 0;
  line-height: 1;
}

.rce-citem-body--bottom-title {
  color: rgba(0,0,0,.5);
}

.rce-citem {
  height: 64px;
}

.rce-avatar-letter {
  margin: 0;
  padding: 0;
  justify-content: center;
  height: 100%;
}

.xsmall .rce-avatar-letter-background {
  border-radius: 15px;
  height: 30px;
  width: 30px;
}

.rce-citem-avatar {
  padding: 0 5px;
}

.in-active > .rce-citem {
  opacity: 0.5;
}

.group-item .rce-citem-body--bottom-title {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}